<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="text-capitalize text-center">Edit page content</h1>
        <hr/>
        <div class="text-justify">
            <form name="methodology" class="form">
                <div class="form-group">
                    <label for="field-title">Title</label>
                    <input [(ngModel)]="title" name="title" id="field-title" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="field-title">Title</label>
                    <textarea [(ngModel)]="markdown" name="markdown" id="field-markdown" type="text" class="form-control" rows="20">
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-dark" (click)="saveChanges()">Save changes</button>
                </div>
            </form>
        </div>

        <h2 class="text-center alert alert-secondary">Preview</h2>
        <div class="preview img-thumbnail">
            <h1 class="text-capitalize text-center">{{ title }}</h1>
            <hr/>
            <div class="text-justify">
                <markdown [data]="markdown"></markdown>
            </div>

        </div>
    </div>
</div>
