<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="text-capitalize text-center">Methodology & Assumptions</h1>
        <hr/>
        <div class="text-justify">

            <p>
                There is currently no internationally recognised
                definition of ‘climate change financing’. A common
                understanding of climate change financing is that it
                refers to financial flows for ‘mitigation’ and
                ‘adaptation’ related activities. Furthermore,
                specific, country-focussed definitions have been
                utilised where they exist in national policies.
            </p>

            <p>
                The quantitative analysis utilised in this tool relies
                on a range of assumptions and methodologies to help
                quantify the amount and shape of climate change and
                disaster risk finance received by a country. The tool
                is based on methodology developed in 2013 for the
                Pacific Climate Change Finance Assessment Framework
                [link to report].
            </p>
            <p>
                The tool draws information from the inputted database
                of climate change and disaster risk-related projects
                for each country.
            </p>
            <p>
                The tool estimates the total volume (as a USD value)
                of climate change and disaster risk-related
                expenditure by weighting individual projects. This
                weighting is undertaken according to the proportion of
                expenditure considered relevant to CCDRM from a scale
                of 0-100%.
            </p>
            <p>
                The guidelines for this weighting system are available
                in the following table:
            </p>
        </div>
    </div>
</div>
