<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="text-capitalize text-center">Edit page content</h1>
        <hr/>
        <div class="text-justify">
            <form name="methodology" class="form">
                <div class="form-group">
                    <label for="field-title">Title</label>
                    <input [(ngModel)]="title" name="title" id="field-title" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="field-title">Body</label>
                    <ckeditor
                        [(ngModel)]="markdown"
                        [ngModelOptions]="{standalone: true}"
                        [editor]="Editor"
                        [config]="config"
                    ></ckeditor>
                </div>
                <div class="form-group">
                    <div class="float-right alert alert-success" *ngIf="showSaveCompleted||saveInProgress">
                        <div class="spinner-border spinner-border-sm text-secondary" *ngIf="saveInProgress">
                        </div>
                        <span class="heading" *ngIf="showSaveCompleted">
                            Methodology was updated
                        </span>
                    </div>


                    <button class="btn btn-dark" (click)="saveChanges()">
                        Save changes

                    </button>

                </div>

            </form>
        </div>

    </div>
</div>
