
<div class="row">
    <div class="col-md-12">
        <h1 class="text-capitalize text-center">Charts and Analytics</h1>
        <hr/>
        <div class="text-justify">
            <p>
                These analytics are based on the database of climate
                change projects with clear national allocations
                contained within the tool and the weighted totals of
                those projects. The weighting system gives an
                approximation of the climate change and disaster-risk
                relevance of related expenditure. See the
                <a routerLink="/methodology">methodology</a>
                explanation for further information.
            </p>
        </div>
        <div class="text-center project-filter">
            <div class="fiter">
                <select style="font-weight: bolder;" class="form-control" (change)="filterCountry($event.target.value)">
                    <option value="*">Regional</option>
                    <option style="font-weight: bolder;" *ngFor="let vc of validCountries" value={{vc.id}}>
                        {{vc.country}}
                    </option>
                </select>
            </div>
            <p class="results">
                {{count}} Projects Registered.
            </p>
        </div>
    </div>
</div>


<div #chartSectors class="pdf-exportable">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Sectors
                <button class="btn btn-default btn-export-pdf float-right border" (click)="exportPdf(chartSectors)" title="PDF Version">
                    PDF Version
                </button>

            </h2>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-9">
            <div class=" p-3">

                <div class="chart-holder" >
                    <ngx-charts-pie-chart *ngIf="sectorCount"
                        [trimLabels]="trimLabels"
                        [scheme]="colorScheme"
                        [results]="sectorCount"
                        [legend]="showLegend"
                        [explodeSlices]="explodeSlices"
                        [labels]="showLabels"
                        (select)="onSelectChartItem($event, 'sector.name');">
                        <ng-template #tooltipTemplate let-model="model">
                            <p style="max-width:  300px">
                                {{ model.name }}
                            </p>
                            <div class="my-3">
                                Projects: {{ model.value }}
                            </div>
                            <div class="my-3" *ngIf="sectorInfo[model.name]?.total !== null">
                                Total: ${{ sectorInfo[model.name].total|number:'.0-0' }}
                            </div>
                        </ng-template>
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="p-3 border rounded-20 mb-4">
                <p>
                    Sectors are aligned with national priority
                    sectors as indicated in national climate
                    change policies. Typical sectors include
                    Energy, Transport/Infrastructure, Agriculture
                    & Food Security, Water & Sanitation, Forestry,
                    Disaster Risk Reduction/Management, Fisheries
                    etc.
                </p>
            </div>
        </div>
    </div>
</div>

<div #chartProjectTypes class="pdf-exportable">

    <div class="row">
        <div class="col-sm-12">
            <h2>
                Project Types
                <button class="btn btn-default btn-export-pdf float-right border" (click)="exportPdf(chartProjectTypes)">
                    PDF Version
                </button>

            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="p-3">
                <div class="chart-holder" >
                    <ngx-charts-pie-chart *ngIf="projectTypeCount"
                        [trimLabels]="trimLabels"
                        [scheme]="colorScheme"
                        [results]="projectTypeCount"
                        [legend]="showLegend"
                        [explodeSlices]="explodeSlices"
                        [labels]="showLabels"
                        (select)="onSelectChartItem($event, 'projectType');">
                        <ng-template #tooltipTemplate let-model="model">
                            <div class="h5">
                                {{ (model.name|projectType).title }}
                            </div>
                            <p style="max-width:  300px">
                                {{ (model.name|projectType).text }}
                            </p>
                            <div class="my-3">
                                Projects: {{ model.value }}
                            </div>
                            <div class="my-3" *ngIf="projectTypeInfo[model.name]?.total !== null">
                                Total: ${{ projectTypeInfo[model.name].total|number:'.0-0' }}
                            </div>
                        </ng-template>
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>

    </div>
</div>

<div #chartMinistries class="pdf-exportable">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Implementing Ministries
                <button class="btn btn-default btn-export-pdf float-right border" (click)="exportPdf(chartMinistries)">
                    PDF Version
                </button>

            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="p-3">
                <div class="chart-holder" >
                    <ngx-charts-pie-chart *ngIf="ministryCount"
                        [trimLabels]="trimLabels"
                        [scheme]="colorScheme"
                        [results]="ministryCount"
                        [legend]="showLegend"
                        [explodeSlices]="explodeSlices"
                        [labels]="showLabels"
                        (select)="onSelectChartItem($event, 'ministry');">
                        <ng-template #tooltipTemplate let-model="model">
                            <p style="max-width:  300px">
                                {{ model.name }}
                            </p>
                            <div class="my-3">
                                Projects: {{ model.value }}
                            </div>
                            <div class="my-3" *ngIf="ministryInfo[model.name]?.total !== null">
                                Total: ${{ ministryInfo[model.name].total|number:'.0-0' }}
                            </div>
                        </ng-template>
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<div #chartSources class="pdf-exportable">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Principal Funding Sources
                <button class="btn btn-default btn-export-pdf float-right border" (click)="exportPdf(chartSources)">
                    PDF Version
                </button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-9">
            <div class="p-3">
                <div class="chart-holder" >
                    <ngx-charts-bar-horizontal *ngIf="sourceCount"
                        [trimYAxisTicks]="false"
                        [scheme]="colorScheme"
                        [results]="sourceCount"
                        [xAxis]="true"
                        [yAxis]="true"
                        [legend]="showLegend"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        xAxisLabel="Number Of Projects"
                        yAxisLabel="Funding Source"
                        (select)="onSelectChartItem($event, 'principalSource')">

                        <ng-template #tooltipTemplate let-model="model">
                            <p style="max-width:  300px">
                                {{ model.name }}
                            </p>
                            <div class="my-3">
                                Projects: {{ model.value }}
                            </div>
                            <div class="my-3" *ngIf="sourceInfo[model.name]?.total !== null">
                                Total: ${{ sourceInfo[model.name].total|number:'.0-0' }}
                            </div>
                        </ng-template>
                    </ngx-charts-bar-horizontal>

                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="p-3 border rounded-20 mb-4">
                <p>
                    The principal funding source is the stakeholder
                    (bilateral or multilateral partner) directly engaged
                    by the recipient country to provide the funding for
                    the specified project. Due to the complexity of the
                    climate finance environment, it is acknowledged that
                    these may be intermediaries for funding that has
                    originated elsewhere.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="alert alert-info">
    <p class="text-center">
        All total values shown below are weighted values,
        providing an approximate value of climate change and
        disaster risk-related expenditure
    </p>

</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Total Value Per Sector</h2>
        <table class="table  raised rounded-20" *ngIf="sectorValue">
            <tr>
                <th>Sector</th>
                <th>Total Projects Value</th>
            </tr>

            <tr *ngFor="let vc of sectorValue">
                <td><a style="color: #2b6ea1; font-weight: lighter;"
                        href="#/project;search=sector.name:{{vc.name}}">{{vc.name}}</a>
                </td>
                <td>USD {{vc.value|number:'.0-2'}} million</td>
            </tr>

            <tr style="font-weight: bold;">
                <td>TOTAL PROJECTS</td>
                <td>{{count}}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-6">
        <div *ngIf="countryValueChart" class="mb-3">
            <h2>Total Value Per Country</h2>
            <table class="table raised rounded-20" >
                <tr>
                    <th>Country</th>
                    <th>Total Projects Value</th>
                </tr>

                <tr *ngFor="let vc of countryValueChart">
                    <td><a style="color: #2b6ea1; font-weight: lighter;"
                            href="#/project;search=country.name:{{vc.name.replace('Islands', '').trim()}}">{{vc.name}}</a>
                    </td>
                    <td>USD {{vc.value|number:'.0-2'}} million</td>
                </tr>

                <tr style="font-weight: bold;">
                    <td>TOTAL PROJECTS</td>
                    <td>{{count}}</td>
                </tr>
            </table>
        </div>

        <div *ngIf="sourceCount">

            <h2>Total Value Per Principal Source</h2>
            <table class="table  raised rounded-20">
                <tr>
                    <th>Principal Source</th>
                    <th>Total Projects Value</th>
                </tr>

                <tr *ngFor="let vc of sourceValue">
                    <td><a style="color: #2b6ea1; font-weight: lighter;"
                            href="#/project;search=principalSource:{{vc.name.trim()}}">{{vc.name}}</a>
                    </td>
                    <td>USD {{vc.value|number:'.0-2'}} million</td>
                </tr>

                <tr style="font-weight: bold;">
                    <td>TOTAL PROJECTS</td>
                    <td>{{count}}</td>
                </tr>
            </table>
        </div>


    </div>

</div>
