<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h6 class="text-right">{{message}}</h6>
        <h1 class="text-capitalize text-center">Charts and Analytics</h1>
        <h5 class="text-center">Climate Changes Projects in the Pacific</h5>
        <hr/>

        <div align="center">

            <select style="font-weight: bolder;" class="form-control" (change)="filterCountry($event.target.value)">
                <option style="font-weight: bolder;" value="*">Filter By Country</option>
                <option value="*">---------------------------------------</option>
                <option value="*">Regional</option>
                <option style="font-weight: bolder;" *ngFor="let vc of validCountries" value={{vc.id}}>
                    {{vc.country}}
                </option>
            </select>

            <br/>

            {{count}} Projects Registered.

        </div>

        <br/><br/><br/>


        <div class="row">

            <div class="col-md-6">
                <h2>Sectors</h2>
                <ngx-charts-pie-chart *ngIf="sectorCount"
                    [view]="viewPie"
                    [scheme]="colorScheme"
                    [results]="sectorCount"
                    [legend]="showLegend"
                    [explodeSlices]="explodeSlices"
                    [labels]="showLabels"
                    [doughnut]="doughnut"
                    [gradient]="gradient"
                    (select)="onSelectSector($event);">
                </ngx-charts-pie-chart>
            </div>


            <div class="col-md-6">
                <h2>Implementing Ministries</h2>
                <ngx-charts-pie-chart *ngIf="ministryCount"
                    [view]="viewPie"
                    [scheme]="colorScheme"
                    [results]="ministryCount"
                    [legend]="showLegend"
                    [explodeSlices]="explodeSlices"
                    [labels]="showLabels"
                    [doughnut]="doughnut"
                    [gradient]="gradient"
                    (select)="onSelectMinistry($event);">
                </ngx-charts-pie-chart>
            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Project Types</h2>
                <ngx-charts-pie-chart *ngIf="projectTypeCount"
                    [view]="viewPie"
                    [scheme]="colorScheme"
                    [results]="projectTypeCount"
                    [legend]="showLegend"
                    [explodeSlices]="explodeSlices"
                    [labels]="showLabels"
                    [doughnut]="doughnut"
                    [gradient]="gradient"
                    (select)="onSelectProjectType($event);">
                </ngx-charts-pie-chart>
            </div>


            <div class="col-md-6">
                <!--
                     <h2>Detailed Sectors</h2>
                     <ngx-charts-pie-chart *ngIf="detailedSectorCount"
                     [view]="viewPie"
                     [scheme]="colorScheme"
                     [results]="detailedSectorCount"
                     [legend]="showLegend"
                     [explodeSlices]="explodeSlices"
                     [labels]="showLabels"
                     [doughnut]="doughnut"
                     [gradient]="gradient"
                     (select)="onSelectDetailedSector($event);">
                     </ngx-charts-pie-chart>
                -->

            </div>


        </div>

        <div class="row">

            <!--
                 <div class="col-md-6">
                 <h2>Project Status</h2>
                 <ngx-charts-bar-horizontal *ngIf="projectStatusCount"
                 [view]="viewPie"
                 [xAxis]="showXAxis"
                 [yAxis]="showYAxis"
                 [legend]="showLegend"
                 [results]="projectStatusCount"
                 (select)="onSelectProjectStatus($event)">
                 </ngx-charts-bar-horizontal>

                 </div>
            -->

            <!--
                 <div class="col-md-6">
                 <h2>Countries</h2>
                 <ngx-charts-bar-vertical *ngIf="countryCount"
                 [results]="countryCount"
                 [xAxis]="showXAxis"
                 [yAxis]="showYAxis"
                 [showXAxisLabel]="showXAxisLabel"
                 [showYAxisLabel]="showYAxisLabel"
                 [legend]="showLegend"
                 (select)="onSelectCountry($event);">
                 </ngx-charts-bar-vertical>

                 </div>
            -->

        </div>

        <div class="row">
            <h2>Principal Funding Sources</h2>
            <ngx-charts-bar-horizontal *ngIf="sourceCount"
                [view]="viewBar"
                [scheme]="colorScheme"
                [results]="sourceCount"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelectSource($event)">
            </ngx-charts-bar-horizontal>
        </div>


        <div class="row">
            <div class="col-md-6">
                <h2>Total Value Per Sector</h2>
                <table class="table" *ngIf="sectorValue">
                    <tr style="background-color: lightblue">
                        <th>Sector</th>
                        <th>Total Projects Value</th>
                    </tr>

                    <tr *ngFor="let vc of sectorValue">
                        <td><a style="color: #2b6ea1; font-weight: lighter;"
                                href="#/project;search=sector.name:{{vc.name}}">{{vc.name}}</a>
                        </td>
                        <td>USD {{vc.value|number:'.0-2'}} million</td>
                    </tr>

                    <tr style="font-weight: bold;">
                        <td>TOTAL PROJECTS</td>
                        <td>{{count}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <h2>Total Value Per Country</h2>
                <table class="table" *ngIf="countryValueChart">
                    <tr style="background-color: lightblue">
                        <th>Country</th>
                        <th>Total Projects Value</th>
                    </tr>

                    <tr *ngFor="let vc of countryValueChart">
                        <td><a style="color: #2b6ea1; font-weight: lighter;"
                                href="#/project;search=country.name:{{vc.name.replace('Islands', '').trim()}}">{{vc.name}}</a>
                        </td>
                        <td>USD {{vc.value|number:'.0-2'}} million</td>
                    </tr>

                    <tr style="font-weight: bold;">
                        <td>TOTAL PROJECTS</td>
                        <td>{{count}}</td>
                    </tr>
                </table>

                <br/>

                <h2>Total Value Per Principal Source</h2>
                <table class="table" *ngIf="sourceCount">
                    <tr style="background-color: lightblue">
                        <th>Principal Source</th>
                        <th>Total Projects Value</th>
                    </tr>

                    <tr *ngFor="let vc of sourceCount">
                        <td><a style="color: #2b6ea1; font-weight: lighter;"
                                href="#/project;search=principalSource:{{vc.name.trim()}}">{{vc.name}}</a>
                        </td>
                        <td>USD {{vc.value|number:'.0-2'}} million</td>
                    </tr>

                    <tr style="font-weight: bold;">
                        <td>TOTAL PROJECTS</td>
                        <td>{{count}}</td>
                    </tr>
                </table>


            </div>

        </div>


    </div>


</div>
