<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-disbursement-heading">Create or edit a Disbursement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!disbursement.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="disbursement.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" [(ngModel)]="disbursement.project" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id === disbursement.project?.id ? disbursement.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.projectTitle}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                        [(ngModel)]="disbursement.year" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="disbursement.amount" />
                </div>


            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
