<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disbursement">
            <h2><span>Disbursement</span> {{disbursement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{disbursement.year}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{disbursement.amount}}</span>
                </dd>
                <dt><span>Project</span></dt>
                <dd>
                    <div *ngIf="disbursement.project">
                        <a [routerLink]="['/project', disbursement.project?.id, 'view']">{{disbursement.project?.projectTitle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disbursement', disbursement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
