<div>

    <h2>
        {{currentSearch.replace("country.name:", "")}} <span>Projects (Total: {{totalItems}})</span>
        <button class="btn btn-primary float-right jh-create-entity create-project"
                [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>

            <span class="hidden-sm-down">
            Register New Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">

                <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="projectTitle"><span>Project Title</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="projectDescription"><span>Project Description</span> <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="projectType"><span>Project Type</span> <span class="fa fa-sort"></span></th>

                <th jhiSortBy="country.name"><span>Country</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="sector.name"><span>Sector</span> <span class="fa fa-sort"></span></th>

                <th jhiSortBy="principalSource"><span>Principal Source</span> <span class="fa fa-sort"></span></th>

                <th jhiSortBy="laterality"><span>Laterality</span> <span class="fa fa-sort"></span></th>

                <th jhiSortBy="total"><span>Total (USD)</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>


                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['/project', project.id, 'view' ]">{{project.id}}</a></td>
                <td><a style="color: #0f6ab4;" [routerLink]="['/project', project.id, 'view' ]">{{project.projectTitle}}</a>
                </td>


                <td>{{project.projectDescription}}</td>
                <td>{{project.projectType}}</td>

                <td>
                    <div *ngIf="project.country">
                        <a [routerLink]="['../country', project.country?.id, 'view' ]">{{project.country?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="project.sector">
                        <a [routerLink]="['../sector', project.sector?.id, 'view' ]">{{project.sector?.name}}</a>
                    </div>
                </td>


                <td>{{project.principalSource}}</td>

                <td>{{project.laterality}}</td>

                <td>{{project.total / 1000000}} million</td>
                <td>{{project.status}}</td>


                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projects && projects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
