<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div style="background-color: lightblue;">
            <h6 class="text-right"><i>{{message}}</i></h6>
            <h1 class="text-capitalize text-center">Pacific Climate Change Finance Tracking Tool</h1>
            <h5 class="text-center">Institutional Strengthening in Pacific Island Countries to Adapt to Climate Change
                (ISACC) Project</h5><br/>
        </div>
        <hr/>
        <p class="text-justify">
            Climate change funding to support developing countries tackle climate change has increased over the past
            years and is projected to increase dramatically in the future. At the national level, tracking climate
            finance is important to allow policy makers to plan more effectively on how to use climate finance,
            particularly in making decisions about funding allocations in line with national priorities, monitoring the
            effectiveness of initiatives, and to verify the support that is being provided by developed countries.
            Better financial data can also help decision makers identify gaps and improve coordination and management
            and plan for investments in sectors and areas of greater vulnerability. Furthermore, better climate finance
            information can also assist in determining effectiveness and facilitate learning and help countries draw
            lessons from the use of different financial instruments and develop strategies and policies aimed at
            expanding finance for climate change. At the International level, it enables a more complete and accurate
            picture of how much funding is going to countries for climate change activities. It would also contribute
            towards improving accountability and transparency in terms of the financial flows related to commitments
            made under the UNFCCC.
        </p>
        <hr/>
        <div align="center">
            <img style="height: 125px" src="../../content/images/spc.png"/>
            <img style="height: 140px" src="../../content/images/forum.png"/>
            <img style="height: 180px" src="../../content/images/usaid.png"/>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
