<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="alert alert-primary">
            <h6 class="text-right"><i>{{message}}</i></h6>
            <h1 class="text-capitalize text-center">Pacific Climate Change Finance Tracking Tool</h1>
            <br/>
        </div>
        <hr/>
        <p class="text-justify">
            The Pacific region is one of the most vulnerable regions
            to the negative impacts of climate change and
            disasters. Climate finance is an essential element of the
            response to climate change and weather-related disaster
            events. For Pacific Island Countries (PICs), external
            finance is a critical supplement to domestic climate
            finance. This reliance on external finance is also
            expected to be an enduring feature of the Pacific climate
            finance landscape. Funding to support developing countries
            has increased over the past years and is projected to
            increase dramatically in the future.
        </p>
        <p class="text-justify">
            At the national level, tracking climate finance is
            important to allow policy makers to plan more effectively
            on how to use climate finance and as a component of
            measuring effectiveness on the ground. With greater
            information, governments are able to make decisions about
            funding allocations in line with national priorities;
            monitor the effectiveness of externally supported
            initiatives; and verify the support that is being provided
            by developed countries. Better financial data can also
            help decision makers identify gaps and improve management
            of investments in sectors and areas of greater
            vulnerability.
        </p>
        <p class="text-justify">
            At the International level, tracking climate finance flows
            enables a more complete and accurate picture of how much
            funding is going to countries for climate change
            activities. It also improves accountability and
            transparency of the financial flows related to commitments
            made under the UNFCCC.
        </p>
        <hr/>
        <p class="text-justify">
            The Pacific Climate Change Finance Tracking Tool has been
            developed and piloted with the support of the USAID
            Institutional Strengthening for Pacific Island Countries
            to Adapt to Climate Change (ISACC) Project. The project is
            implemented by the Pacific Community (SPC), in partnership
            with the Pacific Islands Forum Secretariat (PIFS) and the
            Secretariat of the Pacific Regional Environment Programme
            (SPREP).
        </p>
        <p class="text-justify">
            The need to develop systems and tools to effectively track
            climate change and disaster risk finance has been a common
            finding of national climate finance assessments undertaken
            across the Pacific region. These finance assessment form
            the basis of this tool and have been led by PIFS, with the
            support of the USAID ISACC project and a number of
            development partners including the Australian Department
            of Foreign Affairs and Trade (DFAT) and the German
            Development Agency (GIZ).
        </p>
    </div>
</div>
