.navbar {
    margin-bottom: 20px;
}
.bg-dark {
    background: #353d47;
}

.logo {
    height: 38px;
}

.navbar-title {
    max-width: 49%;
    text-align: center;
}
.navbar-title .title {
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
    color: #fff;
}
.navbar-title .version {
    font-size: 10px;
    color: #ccc;
    white-space: nowrap;
}

.nav-link {
    font-weight: normal;
}
.dropdown-toggle {
    white-space: nowrap;
}

.profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
