/*****************************************************************************/
/*                                   Logos                                   */
/*****************************************************************************/
.owner-logo {
    text-align: center;
    max-height: 180px;
    margin: 20px 0px;
}
.owner-logo img {
}
.climate-change-bg {
    text-align: right;
    margin: 20px 0px;
    position: relative;
    display: inline-block;
    float: right;
}

.climate-change-bg .overlay {
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .climate-change-bg .overlay {
        font-size: 36px;
    }
}

/*****************************************************************************/
/*                                  Content                                  */
/*****************************************************************************/

.page-header {
    color: #2b6eb6;
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
}

.welcome-block {
    margin: 20px 0px;
}
.welcome-text {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.country-charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0px;
}
.country-chart-card {
    display: inline-block;
    overflow: hidden;
    margin: 10px 0px;
    padding: 40px 16px 16px;
    color: #000366;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    font-weight: 500;
}
.country-chart-card .country-label img {
    margin: 4px 5px;
    vertical-align: middle;
}
.country-chart-card .country-label .country-name {
    vertical-align: middle;
    vertical-align: text-top;
}
.country-chart-card .country-label {
    margin-bottom: 4px;
}
.country-chart-card .country-qty {
    font-size: 56px;
    line-height: 66px;
}

.country-table {
    font-weight: bold;
    margin-bottom: 20px;
}
.country-table .table {
    margin-top: 20px;
    overflow: hidden;
}

.country-link,
.country-link:hover {
    font-weight: 100;
    color: #000366;
}

.table {
    color: #000366;
    font-weight: 300;
}

.table th {
    text-align: center;
}
.table.table td,
.table.table th {
    border: none;
}
.table tr:nth-child(2n + 1) th:nth-child(2n + 1),
.table tr:nth-child(2n + 1) td:nth-child(2n + 1),
.table tr:nth-child(2n) th:nth-child(2n),
.table tr:nth-child(2n) td:nth-child(2n) {
    background: linear-gradient(270deg, #f2f7ff 0%, rgba(219, 233, 255, 0) 100%);
}

@media screen and (min-width: 768px) {
    .country-charts {
        flex-direction: row;
    }
    .country-chart-card {
        max-width: 48%;
    }
}
