<div class="row">
    <div class="col-md-3">
        <img class="img-fluid" src="../../content/images/sb.png"/>
        <br/><br/>
        <span class="hipster img-fluid rounded"></span>

    </div>

    <div class="col-md-9">
        <h1 class="display-4" style="color: #2b6ea1; font-size: 40px;">SIG Climate Change Finance Tracking Tool</h1>
        <p class="lead">Institutional Strengthening in Solomon Islands to Adapt to Climate Change (ISACC)
            Project</p>
        <hr/>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <span class="alert alert-success" *ngIf="account">
                    Welcome, {{account.firstName}} {{account.lastName}}. </span>


                <a href="#/project" style="margin-left: 20px;" class="btn btn-primary">Browse Projects</a>

                <br/><br/>


                <ngx-charts-number-card *ngIf="countryCountChart"
                                        [results]="countryCountChart"
                                        [view]="viewNumber"
                                        [scheme]="scheme"
                                        [bandColor]="bandColor"
                                        (select)="onSelectCountry($event);">
                </ngx-charts-number-card>

                <br/>

                <table style="width: 840px !important;" class="table" *ngIf="countryValueChart">
                    <tr style="background-color: lightblue">
                        <th>Country</th>
                        <th>Total Projects Value</th>
                    </tr>

                    <tr *ngFor="let vc of countryValueChart">
                        <td><a style="color: #2b6ea1; font-weight: lighter;"
                               href="#/project;search=country.name:{{vc.name.replace('Islands', '').trim()}}">{{vc.name}}</a>
                        </td>
                        <td>USD {{vc.value|number:'.0-2'}} million</td>
                    </tr>

                    <tr style="font-weight: bold;">
                        <td>TOTAL PROJECTS</td>
                        <td>{{count}}</td>
                    </tr>
                </table>


            </div>


            <div *ngSwitchCase="false">

                <p style="text-align: justify">
                    Climate change funding to support developing countries tackle climate change has increased over the
                    past years and is projected to increase dramatically in the future. At the national level, tracking
                    climate finance is important to allow policy makers to plan more effectively on how to use climate
                    finance, particularly in making decisions about funding allocations in line with national
                    priorities, monitoring the effectiveness of initiatives, and to verify the support that is being
                    provided by developed countries. Better financial data can also help decision makers identify gaps
                    and improve coordination and management and plan for investments in sectors and areas of greater
                    vulnerability. Furthermore, better climate finance information can also assist in determining
                    effectiveness and facilitate learning and help countries draw lessons from the use of different
                    financial instruments and develop strategies and policies aimed at expanding finance for climate
                    change. At the International level, it enables a more complete and accurate picture of how much
                    funding is going to countries for climate change activities. It would also contribute towards
                    improving accountability and transparency in terms of the financial flows related to commitments
                    made under the UNFCCC.
                </p>

                <button type="button"
                        (click)="login()"
                        class="btn btn-primary">
                    <b>Login</b>
                </button>

                <hr/>

                <p>
                    <b>Implementing agencies:</b>
                    The Pacific Community (SPC) in partnership with
                    Secretariat of the Pacific Environment Programme
                    (SPREP) and the Pacific Islands Forum Secretariat
                    (PIFS). Further information is available at
                    <a style="color: #0f6ab4" href="http://ccprojects.gsd.spc.int/isacc">ccprojects.gsd.spc.int</a>

                </p>


            </div>

            <hr/>



        </div>


    </div>
</div>
